<div id="dateSelector">
  <div id="dateSelector-header">
    <span class="dateSelector-header-lastYear" title="上一年" (click)="lastYear()"><<</span>
    <span class="dateSelector-header-lastMonth" title="上一月" (click)="lastMonth()"><</span>
    <span (click)="openYearBox()">{{year}}年</span><span (click)="toggleMonthBox()">{{month+1}}月</span>
    <span class="dateSelector-header-nextMonth" title="下一月" (click)="nextMonth()">></span>
    <span class="dateSelector-header-nextYear" title="下一年" (click)="nextYear()">>></span>
  </div>
  <div id="dateSelector-week">
    <ul>
      <li *ngFor="let item of weekBox" class="dateSelector-week-item">{{item}}</li>
    </ul>
  </div>
  <app-month-box [monthBox]="monthBox" *ngIf="monthBoxStatus" (toggleMonthBox)="toggleMonthBox($event)"></app-month-box>
  <app-year-box [year]="year" *ngIf="yearBoxStatus" (toggleYearBox)="toggleYearBox($event)"></app-year-box>
  <app-day-box [time]="dateTime" (changeMonth)="changeMonth($event)"></app-day-box>
</div>

